/*pricing*/
#title {
    color: #eeeeee;
    background: var(--app-bg);

}

.section-title-light {
    font-family: 'Anton', sans-serif;
    font-size: 3.5rem;
}

.slidecontainer {
    width: 100%; /* Width of the outside container */
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    display: inline-block;
    border-radius: 5px;
    background: #defcfc;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}


.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: var(--bright-red);
    cursor: pointer;
}

.col-centered {
    float: none;
    margin: 0 auto;
}

.weightText {
    font-size: 1.6rem;
    font-family: 'Oswald', serif;
}

.resultText {
    font-size: 2.5rem;
    font-family: 'Oswald', serif;
    /*color:#f73859;*/
    color: var(--bright-red);
}

.detail-pricing-link {
    cursor: pointer;
    /*color:#ff2e63;*/
    color: var(--bright-red);
    font-style: italic;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
}

.detail-pricing-link:hover {
    transform: scale(1.1);

}

/*opinion*/
#opinion {
    background: var(--light-blue);
}

.testimonial-text {
    font-family: Lora, sans-serif;
    max-height: 300px;
}

.testimonial-image {
    width: 30%;
    border-radius: 100%;
    margin: 20px;
    max-height: 200px;
}

.testimonial-name {
    font-size: 1.3rem;
}

/*about*/
#about {
    background: var(--bright-red);
    color: #eeeeee;
    padding-bottom: 1rem;
}

.about-text {
    font-family: 'Anton', sans-serif;
    color: #252a34;
    font-size: 2rem;
}

.quote-text {
    /*font-family:Lora;*/

    font-size: 1.5rem;

}

.link-container {
    position: relative;
}

.jumptarget {
    display: block;
    position: absolute;
    visibility: hidden;
    top: -90px;
    left: 0px;
}

/*contact*/
#contact {
    background: var(--light-blue);
    /*color:#3490de*/
}

/*.contact-form-title {*/
    /*text-align: center;*/
    /*color: #0062cc;*/
/*}*/

.form-rounded {
    border-radius: 50px;
}

.contact-icon {
    font-size: 2rem;
}


